<?xml version="1.0" encoding="utf-8"?>
<devices>
  <imeicode imei="862738031738893">
    <url>https://raw.githubusercontent.com/edpvksml/HPA_XML/master/862738031738893.xml</url>
    <version>1</version>
    <rstart>50001</rstart>
    <rend>50100</rend>
  </imeicode>

  <imeicode imei="861101035061732">
    <url>https://raw.githubusercontent.com/edpvksml/HPA_XML/master/861101035061732.xml</url>
    <version>1</version>
    <rstart>15000</rstart>
    <rend>15100</rend>
  </imeicode>

    <imeicode imei="911524854084420">
    <url>https://raw.githubusercontent.com/edpvksml/HPA_XML/master/862738031738893.xml</url>
    <version>1</version>
    <rstart>50001</rstart>
    <rend>50100</rend>
  </imeicode>
</devices>

