<?xml version="1.0" encoding="utf-8"?>
<devices>
  <imeicode imei="356029082494468">
    <url>https://raw.githubusercontent.com/edpvksml/HPA_XML/master/356029082494468.xml</url>
    <version>1</version>
    <rstart>1001</rstart>
    <rend>2000</rend>
  </imeicode>
  <imeicode imei="861101035061732">
    <url>https://raw.githubusercontent.com/edpvksml/HPA_XML/master/861101035061732.xml</url>
    <version>1</version>
    <rstart>1</rstart>
    <rend>1000</rend>
  </imeicode>
</devices>