<?xml version="1.0" encoding="utf-8"?>
<devices>
  <imeicode imei="359475073032030">
    <url>https://raw.githubusercontent.com/edpvksml/HPA_XML/master/359475073032030.xml</url>
    <version>1</version>
    <rstart>1</rstart>
    <rend>10000</rend>
  </imeicode>
  <imeicode imei="359475073011240">
    <url>https://raw.githubusercontent.com/edpvksml/HPA_XML/master/359475073011240.xml</url>
    <version>1</version>
    <rstart>10001</rstart>
    <rend>15000</rend>
  </imeicode>
</devices>